@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");
:root {
  --body-background-primary: #151515;
  --body-background-secondary: #242424;
  --font-primary: #ffffff;
  --font-secondary: #fdfdfd;
  --bar-primary: #7ec8a8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  .nav-link {
    transition: none;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -0.5rem;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-top: 0.5rem;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.order-first {
  order: -1 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  z-index: 1000;
}
.navbar.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}
.navbar > .container, .navbar > .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: inherit;
  position: relative;
}
.navbar .navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  text-decoration: none;
  margin-right: 1rem;
  white-space: nowrap;
}
.navbar .navbar-brand img {
  max-width: 2.5rem;
  margin-right: 0.5rem;
}
.navbar .navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
}
.navbar .navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item {
  padding-left: 1rem;
}
.navbar .navbar-collapse .navbar-nav .nav-link {
  text-decoration: none;
  display: block;
  font-size: 1rem;
  padding: 0.8rem 1rem;
}
.navbar .navbar-toggler {
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  background: none;
  border: 0;
  outline: none;
  border-radius: 8px;
}
.navbar .navbar-toggler .bar {
  display: block;
  width: 1.65rem;
  height: 4px;
  background: #222222;
  border-radius: 4px;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.navbar .navbar-toggler.change .bar:first-child {
  transform: translate(0, 8px) rotate(-45deg);
}
.navbar .navbar-toggler.change .bar:nth-child(2) {
  opacity: 0;
}
.navbar .navbar-toggler.change .bar:last-child {
  transform: translate(0, -8px) rotate(45deg);
}
.navbar .collapse {
  transition: all 0.3s ease;
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
}
.navbar .collapse:not(.show) {
  top: -700%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.social-media .media {
  padding: 0.5rem;
  color: var(--first-font-color);
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  color: var(--font-primary);
  background: transparent;
  position: relative;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}
.btn::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid var(--font-primary);
  background: transparent;
}
.btn:hover, .btn.active {
  background: var(--font-primary);
  color: var(--body-background-primary);
}

.navbar {
  position: absolute !important;
  top: 0;
  left: 0;
}
.navbar.sticky {
  background: var(--body-background-secondary);
}

.navbar-brand {
  color: var(--font-primary);
  font-size: 2rem;
  font-weight: bold;
}

.nav-link {
  color: var(--font-primary);
}

.navbar-toggler .bar {
  background: var(--font-primary) !important;
}

.navbar-collapse {
  background: var(--body-background-secondary);
}

.portfolio-section .portfolio-nav {
  list-style: none;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-section .portfolio-nav .btn {
  outline: none;
  border: 0;
  cursor: pointer;
}
.portfolio-section .portfolio-items {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  grid-template-columns: repeat(auto-fit, 264px);
  white-space: nowrap;
  gap: 1rem;
}
.portfolio-section .portfolio-items .portfolio-img {
  width: 100%;
  height: 310px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 3s ease;
}
.portfolio-section .portfolio-items .item {
  position: relative;
  overflow: hidden;
}
.portfolio-section .portfolio-items .item .item-details {
  display: none;
}
.portfolio-section .portfolio-items .item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  justify-content: center;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}
.portfolio-section .portfolio-items .item:hover .portfolio-img {
  -o-object-position: bottom;
     object-position: bottom;
}
.portfolio-section .portfolio-items .item:hover .overlay {
  bottom: 0;
  visibility: visible;
}
.portfolio-section .portfolio-items .item.not-show {
  display: none;
}
.portfolio-section .portfolio-items .item.show {
  display: block;
  animation: portfolio-item 250ms forwards ease-in-out;
}

.preview {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: all;
  z-index: 1000;
  display: none;
}
.preview .main-container {
  width: 70%;
  height: 80%;
  background: var(--body-background-primary);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
}
.preview .description {
  padding: 0;
}
.preview .des-col {
  width: 50%;
}
.preview .preview-img-section {
  width: 50%;
  overflow-y: scroll;
}
.preview .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.8rem 1rem;
}

@keyframes portfolio-item {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
}

.title {
  font-size: 4rem;
}

.top-title {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.hero-title {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.description {
  margin: 2rem 0;
  padding-right: 6rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.hero-img-section {
  position: relative;
}

.hero-img-bg {
  background: var(--body-background-secondary);
  width: 250px;
  height: 130%;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: 768px) {
  body {
    text-align: left !important;
  }
  .navbar-collapse {
    background: transparent;
  }
}
@media (max-width: 768px) {
  #home .hero-title:nth-child(3) {
    font-size: 1rem;
  }
  .nav-item {
    padding: 0.8rem;
  }
  .description {
    padding: 0;
  }
}
body {
  background: var(--body-background-primary);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--font-primary);
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-last {
    order: 6 !important;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-last {
    order: 6 !important;
  }
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar .navbar-nav {
    flex-direction: row !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::before, .navbar .navbar-nav .nav-link::after {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    transition: all 0.3s ease;
    opacity: 0;
  }
  .navbar .navbar-nav .nav-link::before {
    content: "{";
    left: 0;
  }
  .navbar .navbar-nav .nav-link::after {
    content: "}";
    right: 0;
  }
  .navbar .navbar-nav .nav-link:hover::before, .navbar .navbar-nav .nav-link:hover::after {
    opacity: 1;
  }
  .navbar .navbar-nav .nav-link.active::before, .navbar .navbar-nav .nav-link.active::after {
    opacity: 1;
  }
  .navbar .navbar-toggler {
    display: none;
  }
  .navbar .collapse {
    position: static;
  }
}
section {
  padding: 100px 0;
}

h1 {
  font-size: 2rem;
}

a {
  color: var(--font-primary);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: 0;
}

#contact {
  background: var(--body-background-secondary);
}
#contact .row {
  align-items: start;
}

input,
textarea {
  background: transparent;
  padding: 1rem;
  width: 100%;
  color: var(--font-primary);
  border: 2px solid var(--font-primary);
  outline: none;
  margin: 1rem 0;
}

footer a {
  letter-spacing: 3px;
}

#form-status {
  color: #ff0000;
  margin: 0;
}