@use "./themes" as *;
@use "./variable" as *;
@use "./Framework" as *;
@use "./utility" as *;
@use "./section" as *;
@use "./components" as *;
@use "./responsive" as *;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

body {
  background: var(--body-background-primary);
  font-family: "Source Sans Pro", sans-serif;
  color: var(--font-primary);
  text-align: center;
}

@include getBreakPoint(md);

section {
  padding: 100px 0;
}

h1 {
  font-size: 2rem;
}
a {
  color: var(--font-primary);
}
img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  border: 0;
}

#contact {
  background: var(--body-background-secondary);
  .row {
    align-items: start;
  }
}
input,
textarea {
  background: transparent;
  padding: 1rem;
  width: 100%;
  color: var(--font-primary);
  border: 2px solid var(--font-primary);
  outline: none;
  margin: 1rem 0;
}

footer {
  a {
    letter-spacing: 3px;
  }
}
#form-status {
  color: #ff0000;
  margin: 0;
}
