$gutter-x: 1.5rem;
$gutter-y: 0.5rem;

$framework-transition: all 0.3s ease;

// navbar styles
$navbar-padding-x: 0;
$navbar-padding-y: 0.5rem;

$navbar-brand-padding: 0.3125rem;

$nav-link-padding-y: 0.8rem;
$nav-link-padding-x: 1rem;

$navbar-toggler-background: none;
$navbar-toggler-border: 0;
$navbar-toggler-border-radius: 8px;
$navbar-toggler-padding: 0.5rem;

$bar-translate-X: 8px;
$bar-rotate: 45deg;

$toggler-bar-width: 1.65rem;
$toggler-bar-height: 4px;
$toggler-bar-background: #222222;
$toggler-bar-border-radius: 4px;
$toggler-bar-margin: 4px 0;
