@tailwind base;
@tailwind components;
@tailwind utilities;

.swal2-popup {
  @apply border border-gray-700 bg-gray-800 text-gray-50 shadow-md;
}

.nav-link {
  @apply relative capitalize duration-200;
}

.nav-link::before {
  @apply bg-accent-color duration-200;
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  transform: scale(0);
}

.nav-link.active {
  @apply text-accent-color/100;
}

.nav-link.active::before {
  opacity: 1;
  transform: scale(1);
}

.nav-link:hover {
  @apply text-accent-color opacity-100;
}

.nav-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.link {
  @apply text-blue-500 underline;
}

.type::after {
  content: ">_.";
  animation: cursor 1.1s infinite step-start;
}

@keyframes cursor {
  50% {
    opacity: 0;
  }
}

.select {
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%),
    linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1px + 50%),
    calc(100% - 16.1px) calc(1px + 50%);
  background-size:
    4px 4px,
    4px 4px;
  background-repeat: no-repeat;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0px 0px 0px 100px theme("colors.gray.900") inset;
}

.react-datepicker-wrapper {
  @apply w-fit;
}
.react-datepicker-popper {
  @apply rounded ring-1 ring-gray-700;
}
.react-datepicker {
  @apply !bg-gray-800;
}
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  @apply !fill-gray-700 !stroke-gray-700 !text-gray-700;
}
.react-datepicker__header {
  @apply !bg-gray-800 text-white;
}

.react-datepicker__current-month {
  @apply !text-gray-50;
}
.react-datepicker__day-names {
  @apply !border-gray-700;
}
.react-datepicker__day-name {
  @apply !text-gray-400;
}
.react-datepicker__day {
  @apply !text-gray-50 hover:!text-gray-700;
}
.react-datepicker__day--today {
  @apply hover:!text-gray-50;
}
.react-datepicker__day--selected {
  @apply hover:!text-gray-50;
}
.react-datepicker__day--outside-month {
  @apply !text-gray-700;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply pointer-events-none float-left h-0 text-gray-500;
  content: attr(data-placeholder);
}

.tiptap > *:not(.is-editor-empty) {
  @apply mb-2;
}

pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
}
code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

pre code .hljs-comment,
.hljs-quote {
  color: #616161;
}

pre code .hljs-variable,
pre code .hljs-template-variable,
pre code .hljs-attribute,
pre code .hljs-tag,
pre code .hljs-name,
pre code .hljs-regexp,
pre code .hljs-link,
pre code .hljs-name,
pre code .hljs-selector-id,
pre code .hljs-selector-class {
  color: #f98181;
}

pre code .hljs-number,
pre code .hljs-meta,
pre code .hljs-built_in,
pre code .hljs-builtin-name,
pre code .hljs-literal,
pre code .hljs-type,
pre code .hljs-params {
  color: #fbbc88;
}

pre code .hljs-string,
pre code .hljs-symbol,
pre code .hljs-bullet {
  color: #b9f18d;
}

pre code .hljs-title,
pre code .hljs-section {
  color: #faf594;
}

pre code .hljs-keyword,
pre code .hljs-selector-tag {
  color: #70cff8;
}

pre code .hljs-emphasis {
  font-style: italic;
}

pre code .hljs-strong {
  font-weight: 700;
}
