// ========== responsive colume ==========
// ========== colume ==========
.col {
  flex: 1 0 0%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: $i * 8.3333333333333%;
  }
}
@mixin resColume($columeBreakpoint) {
  .col-#{$columeBreakpoint} {
    flex: 1 0 0%;
  }
  .col-#{$columeBreakpoint}-auto {
    flex: 0 0 auto;
    width: auto;
  }
  @for $j from 1 through 12 {
    .col-#{$columeBreakpoint}-#{$j} {
      flex: 0 0 auto;
      width: $j * 8.3333333333333%;
    }
  }
}
