@use "../frameworkVariables" as *;

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: $navbar-padding-y $navbar-padding-x;
  z-index: 1000;
  &.sticky {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
  }
  & > .container,
  & > .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: inherit;
    position: relative;
  }
  .navbar-brand {
    padding-top: $navbar-brand-padding;
    padding-bottom: $navbar-brand-padding;
    text-decoration: none;
    margin-right: 1rem;
    white-space: nowrap;
    img {
      max-width: 2.5rem;
      margin-right: 0.5rem;
    }
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style: none;
      .nav-item {
        padding-left: 1rem;
      }
      .nav-link {
        text-decoration: none;
        display: block;
        font-size: 1rem;
        padding: $nav-link-padding-y $nav-link-padding-x;
      }
    }
  }
  .navbar-toggler {
    display: inline-block;
    cursor: pointer;
    padding: $navbar-toggler-padding;
    background: $navbar-toggler-background;
    border: $navbar-toggler-border;
    outline: none;
    border-radius: $navbar-toggler-border-radius;
    .bar {
      display: block;
      width: $toggler-bar-width;
      height: $toggler-bar-height;
      background: $toggler-bar-background;
      border-radius: $toggler-bar-border-radius;
      margin: $toggler-bar-margin;
      transition: $framework-transition;
    }
    &.change .bar:first-child {
      transform: translate(0, $bar-translate-X) rotate(-$bar-rotate);
    }
    &.change .bar:nth-child(2) {
      opacity: 0;
    }
    &.change .bar:last-child {
      transform: translate(0, -$bar-translate-X) rotate($bar-rotate);
    }
  }
  .collapse {
    transition: $framework-transition;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
  }
  .collapse:not(.show) {
    top: -700%;
  }
}

@mixin resNavbar {
  .navbar {
    flex-wrap: nowrap;
    justify-content: space-between;
    .navbar-nav {
      flex-direction: row !important;
      flex-basis: auto;
      justify-content: flex-end;
      .nav-link {
        position: relative;
        &::before,
        &::after {
          position: absolute;
          top: 50%;
          transform: translateY(-60%);
          transition: $framework-transition;
          opacity: 0;
        }
        &::before {
          content: "{";
          left: 0;
        }
        &::after {
          content: "}";
          right: 0;
        }
        &:hover::before,
        &:hover::after {
          opacity: 1;
        }
        &.active::before,
        &.active::after {
          opacity: 1;
        }
      }
    }
    .navbar-toggler {
      display: none;
    }
    .collapse {
      position: static;
    }
  }
}
