// ========== order ==========
.order-first {
  order: -1 !important;
}
@for $k from 1 through 5 {
  .order-#{$k} {
    order: $k !important;
  }
}
.order-last {
  order: 6 !important;
}
// ========== responsive order ==========
@mixin resOrder($orderBreakpoint) {
  .order-#{$orderBreakpoint}-first {
    order: -1 !important;
  }
  @for $k from 1 through 5 {
    .order-#{$orderBreakpoint}-#{$k} {
      order: $k !important;
    }
  }
  .order-#{$orderBreakpoint}-last {
    order: 6 !important;
  }
}
