.navbar {
  position: absolute !important;
  top: 0;
  left: 0;
  &.sticky {
    background: var(--body-background-secondary);
  }
}
.navbar-brand {
  color: var(--font-primary);
  font-size: 2rem;
  font-weight: bold;
}
.nav-link {
  color: var(--font-primary);
}
.navbar-toggler {
  .bar {
    background: var(--font-primary) !important;
  }
}
.navbar-collapse {
  background: var(--body-background-secondary);
}
