@use "../variable" as *;

// portfolio section styles
.portfolio-section {
  .portfolio-nav {
    list-style: none;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    .btn {
      outline: none;
      border: 0;
      cursor: pointer;
    }
  }
  .portfolio-items {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    grid-template-columns: repeat(auto-fit, max(264px));
    white-space: nowrap;
    gap: 1rem;
  }
}

// single portfolio item styles
.portfolio-item {
  .item {
    width: 270px;
    height: 300px;
    position: relative;
    overflow: hidden;
    .portfolio-img {
      width: 100%;
      height: 100%;
      object-position: top;
      object-fit: cover;
      transition: all 3s ease;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -100%;
      justify-content: center;
      visibility: hidden;
      background: rgba($color: #000000, $alpha: 0.7);
      transition: $transition;
    }
    &:hover {
      .overlay {
        bottom: 0;
        visibility: visible;
      }
      .portfolio-img {
        object-position: bottom;
      }
    }
  }
  .item-details {
    .item-title {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  .preview-item-details {
    display: none;
  }
  &.not-show {
    display: none;
  }
  &.show {
    display: block;
    animation: portfolio-item 250ms forwards ease-in-out;
  }
}

// preview items
.preview {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  pointer-events: all;
  z-index: 1000;
  display: none;
  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    width: 70%;
    height: 90%;
    background: var(--body-background-primary);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 1rem;
    position: relative;
  }
  .preview-img-section {
    width: 50%;
    overflow-y: scroll;
  }
  .des-col {
    width: 50%;
    overflow-y: scroll;
    .preview-title {
      font-size: 2.1rem;
      padding-right: 2.5rem;
    }
    .description {
      padding: 0;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 0.8rem 1rem;
    }
  }
}

@media (max-width: 576px) {
  .preview {
    .main-container {
      width: 100%;
    }
    .close-btn {
      top: -40px !important;
    }
    .des-col {
      padding: 1rem;
    }
    .preview-title {
      font-size: 1.5rem !important;
      padding: 0 !important;
    }
  }
}

@keyframes portfolio-item {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
