// ========== import file ==========
@use "../frameworkVariables" as *;

// ========== row ==========
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(-1 * $gutter-y);
  margin-right: calc(-0.5 * $gutter-x);
  margin-left: calc(-0.5 * $gutter-x);
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc($gutter-x * 0.5);
  padding-left: calc($gutter-x * 0.5);
  margin-top: $gutter-y;
}
