* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: #121212;
  color: #ffffff;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
i {
  cursor: pointer;
}

.d-flex {
  display: flex;
  align-items: center;
}
.img-fluid {
  max-width: 100px;
  height: auto;
  margin: auto;
}

.container {
  width: 320px;
  height: auto;
  background: #222222;
  border-radius: 8px;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
}
.go-back-btn {
  position: fixed;
  bottom: 20px;
  width: 9rem;
  height: fit-content;
  left: 20px;
  background: #151515;
  color: #fff;
  padding: 0.5rem 1.5rem;
  text-decoration: underline;
  outline: none;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.top-section {
  padding: 1rem;
  border-bottom: 1px solid #424242;
  font-size: 1.5rem;
}

.temp {
  font-size: 5rem;
  font-weight: 600;
}
.data-section {
  text-align: center;
  display: none;
}
.back-btn {
  display: none;
}
.container.active .back-btn {
  display: inline-block;
}
.container.active .data-section {
  display: block;
}

.location,
.weather-status {
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
.weather-icon {
  margin-top: 1rem;
  pointer-events: none;
}

.bottom-section {
  border-top: 1px solid #424242;
  padding: 1rem;
  text-align: left;
  justify-content: space-around;
}
.bottom-section i {
  font-size: 3rem;
  margin-right: 1rem;
}
.input-section {
  padding: 1rem;
  text-align: center;
}
.info {
  padding: 1rem;
  border-radius: 8px;
  display: none;
}
.info.error {
  display: block;
  background-color: #ff0000;
  border: 2px solid #424242;
}
.info.pending {
  display: block;
  background-color: #42424285;
}
.separator {
  width: 100%;
  height: 1px;
  background: #424242;
  margin: 1rem 0;
}

.container.active .input-section {
  display: none;
}

input,
button {
  width: 100%;
  height: fit-content;
  margin: 0.5rem 0;
  padding: 1rem;
  color: #ffffff;
  outline: none;
  border-radius: 5px;
}
input {
  background-color: transparent;
  text-align: center;
  border: 1px solid #424242;
}
input:is(:focus, :valid) {
  border-color: #ffffff;
  border-style: dashed;
}
button {
  background-color: #424242;
  border: 0;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
}
@media (min-width: 500px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
